table{
   border: 1px solid black;
   margin-left: auto;
   margin-right: auto;
   }
th{
   border: 1px solid black;
   font-size: 230%;
}
td{
   border: 1px solid black; 
   font-size: 230%;
}
h1{
   text-align: center;
}
